@import 'normalize.css';
@import url("https://fontsapi.zeoseven.com/442/main/result.css");
@import url("https://fontsapi.zeoseven.com/292/main/result.css");

/* david-libre-latin-400-normal */
@font-face {
    font-family: 'David Libre';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/david-libre@latest/latin-400-normal.woff2)
            format('woff2'),
        url(https://cdn.jsdelivr.net/fontsource/fonts/david-libre@latest/latin-400-normal.woff)
            format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191,
        U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* david-libre-latin-500-normal */
@font-face {
    font-family: 'David Libre';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/david-libre@latest/latin-500-normal.woff2)
            format('woff2'),
        url(https://cdn.jsdelivr.net/fontsource/fonts/david-libre@latest/latin-500-normal.woff)
            format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191,
        U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* david-libre-latin-700-normal */
@font-face {
    font-family: 'David Libre';
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/david-libre@latest/latin-700-normal.woff2)
            format('woff2'),
        url(https://cdn.jsdelivr.net/fontsource/fonts/david-libre@latest/latin-700-normal.woff)
            format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191,
        U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* david-libre-latin-ext-400-normal */
@font-face {
    font-family: 'David Libre';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/david-libre@latest/latin-ext-400-normal.woff2)
            format('woff2'),
        url(https://cdn.jsdelivr.net/fontsource/fonts/david-libre@latest/latin-ext-400-normal.woff)
            format('woff');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7,
        U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F,
        U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F,
        U+A720-A7FF;
}

/* david-libre-latin-ext-500-normal */
@font-face {
    font-family: 'David Libre';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/david-libre@latest/latin-ext-500-normal.woff2)
            format('woff2'),
        url(https://cdn.jsdelivr.net/fontsource/fonts/david-libre@latest/latin-ext-500-normal.woff)
            format('woff');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7,
        U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F,
        U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F,
        U+A720-A7FF;
}

/* david-libre-latin-ext-700-normal */
@font-face {
    font-family: 'David Libre';
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/david-libre@latest/latin-ext-700-normal.woff2)
            format('woff2'),
        url(https://cdn.jsdelivr.net/fontsource/fonts/david-libre@latest/latin-ext-700-normal.woff)
            format('woff');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7,
        U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F,
        U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F,
        U+A720-A7FF;
}

body,
html {
    font-family: 'David Libre', 'LXGW WenKai', Georgia, 'Times New Roman', Times;
    overflow: hidden;
    height: 100%;
}

:root {
    --code-bg-color-light: #eff1f2;
    --code-bg-color-dark: #333333;
}

code {
    border: 1px solid;
    border-radius: 0.2rem;
    padding: 0rem 0.15rem;
    background-color: var(--code-bg-color-light);
    font-family: "Maple Mono NF CN" !important;
    font-weight: 200 !important;
}

@media (prefers-color-scheme: dark) {
    code {
        background-color: var(--code-bg-color-dark);
    }
}

.astro-code code {
    border: none !important;
}
