@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Poor+Story&display=swap');

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
    src: url('https://cdn.jsdelivr.net/fontsource/fonts/noto-sans-kr:vf@latest/korean-wght-normal.woff2')
            format('woff2-variations');
    unicode-range: U+AC00-D7A3;
}

/* poor-story-korean-400-normal */
@font-face {
    font-family: 'Poor Story';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url('https://cdn.jsdelivr.net/fontsource/fonts/poor-story@latest/korean-400-normal.woff2')
            format('woff2'),
         url('https://cdn.jsdelivr.net/fontsource/fonts/poor-story@latest/korean-400-normal.woff')
            format('woff');
    unicode-range: U+AC00-D7A3;
}

/* poor-story-latin-400-normal */
@font-face {
    font-family: 'Poor Story';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url('https://cdn.jsdelivr.net/fontsource/fonts/poor-story@latest/latin-400-normal.woff2')
            format('woff2'),
         url('https://cdn.jsdelivr.net/fontsource/fonts/poor-story@latest/latin-400-normal.woff')
            format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
        U+02DA, U+02DC, U+0304, U+0308, U+0329,
        U+2000-206F, U+20AC, U+2122,
        U+2191, U+2193, U+2212, U+2215,
        U+FEFF, U+FFFD;
}

body,
html {
    font-family: 'Noto Sans KR', Georgia, 'Times New Roman', Times;
    overflow: hidden;
    height: 100%;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Poor Story', Georgia, sans-serif;
}

:root {
    --code-bg-color-light: #eff1f2;
    --code-bg-color-dark: #333333;
}

code {
    border: 1px solid;
    border-radius: 0.2rem;
    padding: 0rem 0.15rem;
    background-color: var(--code-bg-color-light);
    font-family: "Maple Mono NF CN" !important;
    font-weight: 200 !important;
}

@media (prefers-color-scheme: dark) {
    code {
        background-color: var(--code-bg-color-dark);
    }
}

.astro-code code {
    border: none !important;
}
