@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Poor+Story&display=swap');

body,
html {
    font-family: 'Noto Sans KR', Georgia, 'Times New Roman', Times;
    overflow: hidden;
    height: 100%;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Poor Story', Georgia, sans-serif;
}

:root {
    --code-bg-color-light: #eff1f2;
    --code-bg-color-dark: #333333;
}

code {
    border: 1px solid;
    border-radius: 0.2rem;
    padding: 0rem 0.15rem;
    background-color: var(--code-bg-color-light);
    font-family: "Maple Mono NF CN" !important;
    font-weight: 200 !important;
}

@media (prefers-color-scheme: dark) {
    code {
        background-color: var(--code-bg-color-dark);
    }
}

.astro-code code {
    border: none !important;
}
