---
import Mainpage from '../layout/mainpage.astro';
import PostFrame from '../components/postFrame.astro';
import Navigation from '../layout/navigation.astro';
import '../styles/global.css';
---

<html lang='en'>
    <head>
        <meta charset='utf-8' />
        <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
        <link rel="icon" type="image/png" href="/favicon.png" />
        <link rel="apple-touch-icon" href="/favicon.png" />
        <meta name='viewport' content='width=device-width' />
        <meta name='generator' content={Astro.generator} />
        <title>말랑누오의 기록</title>
    </head>
    <body>
        <Mainpage>
            <Navigation slot='header' />
            <PostFrame slot='main' />
        </Mainpage>
    </body>
</html>
