---
import config from "../../config"
---

<p
    class='text-lg md:ml-4 indent-8 text-fontLight dark:text-fontDark
tracking-wider text-justify'
>
    I'm a student at Nanjing University of Posts and Telecommunications (<a
        href='https://www.njupt.edu.cn'
        class='underline'>NJUPT</a
    >), where I'm studying Computer Science and Technology. I'm really
    interested in all things computer-related, and I've set up this blog to
    share my knowledge and insights on learning computer technology. I've also
    included some of my notes and resources on
    <a href={config.github} class='underline'>GitHub</a> if you'd
    like to learn more about me. If you have any questions, please feel free to contact
    me via
    <a
        href={config.emailLink}
        class='underline'
    >
        Email</a
    > .
</p>
