---
import FriendLinks from '../components/icons/friendLinks.astro';
import FriendLinkItem from '../components/friendLinkItem.astro';
import config from '../../config';
---

<div
    class='bg-foilLight dark:bg-foilDark flex flex-col items-center
                    text-bg text-profileTextLight dark:text-profileTextDark
                    md:mt-2 md:ml-8 md:mr-4
                    m-4
                    rounded-2xl
                    p-4 pt-0'
>
    <div class='flex flex-row mt-2'>
        <FriendLinks class='h-6 w-4 mr-1' />
        Friend Links
    </div>
    <div class='flex flex-col w-full'>
        {
            Object.entries(config.friendlink).map(([blogName, link]) => (
                <FriendLinkItem blogName={blogName} link={link} />
            ))
        }
    </div>
</div>
